@import "../../styles/styles.scss";

.product-card {
    width: 180px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid $blueBorder;

    .product-card_icons {
        display: flex;

        & button {
            padding: 2px 6px;
            stroke: #646cff;
        }

        & svg {
            width: 16px;
            height: 16px;
            stroke: inherit;
        }
        
        & .isFavorited {
            stroke: #ff69b4;
        }
    }

    .product-card_img {
        width: 120px;
        height: 120px;
        object-fit: contain;
    }

    .product-card_title {
        font-size: 1.3rem;
        margin-top: 5px;
        margin-bottom: 5px;
        color: $hoverVioletLight;
    }

    .product-card_description {
        color: $colorGreyLight;
    }
}